#test {
    background-image: url(../img/bg1.jpg);
    background-repeat : no-repeat;
    background-size : cover;
    min-height: 500px;
    position:relative;
}

.contents {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.contents p {
    color:black;
}